* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center; /* Mengatur elemen ke tengah secara horizontal */
  align-items: center; /* Mengatur elemen ke tengah secara vertikal */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Pastikan signup mengambil lebar penuh */
}

.signup-container {
  width: 900px;
  max-width: 500px;
  background: linear-gradient(to right, #90a2af 10%, #0d314d 50%, #05131d 150%);
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signup-container h1 {
  font-family: "Syne", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 15px;
  padding: 5px;
}

.form-group label {
  color: white;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: black;
}

.form-group button {
  font-family: "DM Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  width: 100%;
  padding: 8px;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

.form-group button:hover {
  transition: 0.1s;
  background-color: #f4f4f4;
  color: black;
}

.form-group button:active {
  scale: 0.9;
}

.form-group .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  gap: 10px; /* Jarak antara ikon dan input */
  border-radius: 5px;
  padding: 10px;
}

.input-with-icon img {
  width: 20px; /* Ukuran ikon */
  height: 20px;
}

.input-with-icon input {
  flex: 1; /* Membuat input mengambil sisa ruang */
  border: none;
  outline: none;
  padding: 10px 10px; /* Hapus padding horizontal karena sudah diatur di .input-with-icon */
}

.input-with-icon input::placeholder {
  color: #ccc;
}

.input-with-icon:focus-within {
  border-color: #007bff; /* Ubah warna border saat fokus */
}

@media (max-width: 500px) {
  .signup-container {
    padding: 15px;
  }

  .form-group button {
    font-size: 14px;
  }
}
